.container {
    display: flex; 
    justify-content: center; 
    padding: 4rem;
    background-color: WhiteSmoke;
}
.slider {
    width: 16rem;
    /* Content is centered horizontally */
    align-items: center;
    display: flex;
    margin-right: 1rem;

}
.left {
    /* Width based on the current value */
    height: 2px;
    width: 50%;

    /* Colors */
    background-color: rgb(8, 143, 247);
}
.knob {
    /* Size */
    height: 1.5rem;
    width: 1.5rem;

    /* Rounded border */
    border-radius: 9999px;

    /* Colors */
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.right {
    /* Take the remaining width */
    flex: 1;
    height: 2px;

    /* Colors */
    background-color: rgba(0, 0, 0, 0.3);
}

.percentage {
    width: 2.0rem;
    padding: 0.5rem;
    background-color: white;
    text-align: center;
}

input {
    width: 2.5rem;
    text-align: center;
}